.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.scriptModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 480px;
  min-width: 320px;
  height: 60rem;
  margin: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #F9F9F9;
}

.modalTitle {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 700;
}

/* 스크립트 생성중일 경우 이미지 */
.generatingImage {
  width: 9.5rem;
  height: 9.5rem;
  margin-bottom: 6rem;
  object-fit: contain;
  animation: spin 1.5s linear infinite; /* 1.5초마다 계속 회전 */
}

/* 스크립트 생성된 경우 이미지 */
.completedImage {
  width: 6rem;
  height: 6rem;
  margin-bottom: 1.5rem;
  object-fit: contain;
}

/* 스크립트 생성중일 경우 */
.tipBox {
  padding: 1rem 1.5rem 2rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.07);
  background-color: #fff;
}

.tipTitleBox {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

.tipTitleBox span {
  padding: 0 0.8rem 0.2rem;
  color: #fff;
  font-weight: 700;
  border-radius: 1rem;
  background-color: #C09EFF;
}

.tipTitleBox p {
  margin-left: 0.8rem;
  color: #9057BB;
  font-weight: 700;
}

.tipTxt {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.4rem;
}

/* 스크립트 생성된 경우 */
.scriptBox {
  margin-bottom: 5rem;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  line-height: 2.2rem;
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.07);
  background-color: #fff;

  /* 스크롤 관련 속성 추가 */
  max-height: 25rem; /* 최대 높이 설정 */
  overflow-y: auto; /* 세로 방향 스크롤 활성화 */
  word-break: break-word; /* 긴 단어 처리 */
}

.scriptBox p {
  letter-spacing: 0;
}

.btnBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
  margin-bottom: 1.5rem;
  letter-spacing: -1px;
}

.btnBox button {
  width: 100%;
  max-width: 280px;
  height: 3.5rem;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  transition: all 0.2s ease;
}

.purpleBtn {
  color: #fff;
  font-weight: 700;
  background-color: #9466E9;
}

.grayBtn {
  color: #565656;
  background-color: #E4E4E4;
}

.loadingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0;
  min-height: 80px;
}

.loadingText {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #565656;
}

/* 회전 애니메이션 정의 */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
