.container {
    width: 360px;
    min-height: 800px;
    background-color: #F9F9F9;
    padding: 20px;
  }
  
  .header {
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin: -20px -20px 0;
  }
  
  .logo {
    width: 55px;
    height: 63px;
  }
  
  .title {
    color: #333333;
    font-size: 16px;
    margin-left: 54px;
  }
  
  .stepsContainer {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 24px 0;
  }
  
  .stepCircle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFE6FF;
    border: 0.8px solid rgba(87, 63, 132, 0.2);
  }
  
  .activeStep {
    background-color: #8A63D2;
    border: none;
  }
  
  .stepText {
    font-size: 14px;
    color: #8E8E8E;
  }
  
  .activeStep .stepText {
    color: white;
  }
  
  .gradeCard {
    width: 320px;
    height: 47px;
    background-color: white;
    border-radius: 10px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.07);
    margin-bottom: 16px;
  }
  
  .iconWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .circleIcon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #EFE6FF;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .gradeBadge {
    background-color: #E6D9FF;
    color: #8A63D2;
    padding: 4px 15px;
    border-radius: 15px;
    font-weight: bold;
  }
  
  .feedbackCard {
    width: 320px;
    background-color: white;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.07);
    margin-bottom: 16px;
  }
  
  .sectionTitle {
    color: #565656;
    font-size: 16px;
  }
  
  .questionText, .answerText {
    color: #565656;
    margin: 14px 16px;
    font-size: 14px;
  }
  
  .answerBox {
    background-color: #F8F4FF;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .evaluationCard {
    width: 320px;
    background-color: white;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.07);
  }
  
  .evaluationTags {
    margin: 15px 0;
    display: flex;
  }
  
  .tagGroup {
    /* display: flex; */
    gap: 10px;
    margin-top: 10px;
  }
  
  .tag {
    background-color: #F2F0F7;
    color: #565656;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 14px;
    display: inline-block;
    margin-right: 10px;
  }
  
  .activeTag {
    background-color: #E6D9FF;
  }
  
  .feedbackText {
    color: #565656;
    font-size: 14px;
    line-height: 1.5;
    margin: 15px 0 0;
  }