.test-type-btn-box {
  border-radius: 10px;
  background: #fff;
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.07);
  padding: 1.6rem 1.6rem 4.3rem 1.6rem;
  display: flex;
}

.purple-bar {
  border: 1rem solid #8a63d2;
  /* background: #8a63d2; */
}

.test-type-btn-text {
  font-size: 1.6rem;
  color: #5e5e5e;
  font-weight: 700;
}

.set-group-container {
}

.text-group {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.time-display {
  border-radius: 1.5rem;
  background: #e5d8ff;
  padding: 0.2rem 0.5rem;
  color: #8a63d2;
}

.introduction-text {
  position: absolute;
}

.set-group-container2 {
  flex-direction: column;
  align-self: center;
}

.back-circle {
  border-radius: 1.5rem;
}
