.switchingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 5.6rem);
    height: 100%;
    background-color: #ffffff;
    width: 100%;
    position: relative;
    padding-bottom: 5rem;
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 1.5rem;
    margin: 1rem 0;
  }
  
  .characterContainer {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
  }
  
  .opigiImg {
    width: 14.741rem;
    height: 12.26rem;
    object-fit: contain;
  }
  
  .textContainer {
    text-align: center;
  }
  
  .message {
    color: #565656;
    font-size: 1.6rem;
    line-height: 1.4;
    margin: 0;
    white-space: nowrap;
  }
  
  .boldText {
    font-weight: 700;
    color: #565656;
    font-size: 1.8rem;
  }

  .navigationContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    /* padding: 0 1rem; */
    /* margin-top: 3.9rem; */
  }